<div class="container">
    <div class="hall-of-fame-view">

        <div class="row">

            <h5>Hall of Fame!</h5>
            <h6>Top-10</h6>
            <div class="top-ten">
                {{#each list}}
                    <p class="top-ten-warrior">
                        {{this.position}}. <strong>{{this.name}}</strong> - ilość wygranych: {{this.victories}}
                    </p>
                {{/each}}
            </div>
        </div>
    </div>

</div>


